<nav class="navbar">
    <button routerLink="/" class="nav-link">Homepage</button>
    <button routerLink="/student-list" class="nav-link">Student</button>
    <button routerLink="/employee-list" class="nav-link">Employee</button>
    <button routerLink="/fruit-list" class="nav-link">Fruit</button>
    <button routerLink="/course-list" class="nav-link">Course</button>
    <button routerLink="/book-list" class="nav-link">Book</button>
    <button routerLink="/city-list" class="nav-link">City </button>
    <button routerLink="/movie-list" class="nav-link">Movie </button>
    <button routerLink="/carmodel-list" class="nav-link">Car Model</button>
    <button routerLink="/product-list" class="nav-link">Product</button>
    <button routerLink="/subject-list" class="nav-link">Subject</button>
    <button routerLink="/country-list" class="nav-link">Country </button>
    <button routerLink="/sports-list" class="nav-link">Sports</button>
    <button routerLink="/vegetable-list" class="nav-link">Vegetable</button>
    <button routerLink="/animal-list" class="nav-link">Animal </button>
    <button routerLink="/tool-list" class="nav-link">Tools</button>
    <button routerLink="/language-list" class="nav-link">Language</button>

    <button routerLink="/game-list" class="nav-link">Game </button>
    <button routerLink="/software-list" class="nav-link">Software </button>
    <button routerLink="/phonecontact-list" class="nav-link">Phone Contact</button>
    <button routerLink="/music-playlist" class="nav-link">Music Playlist</button>
    <button routerLink="/food-menu" class="nav-link">Food Menu</button>
    <button routerLink="/grocery-list" class="nav-link">Grocery </button>
    <button routerLink="/classroom-list" class="nav-link">Classroom </button>
    <button routerLink="/inventory-list" class="nav-link">Inventory </button>
    <button routerLink="/lecture-list" class="nav-link">Lecture </button>
    <button routerLink="/stationary-list" class="nav-link">Stationery </button>
    <button routerLink="/flower-list" class="nav-link">Flower </button>
    <button routerLink="/destination-list" class="nav-link">Destination </button>
    <button routerLink="/laptop-list" class="nav-link">Laptop </button>
    <button routerLink="/laptopspecification-list" class="nav-link">Laptop Specifications</button>
    <button routerLink="/computerhardware-list" class="nav-link">Computer Hardware</button>
    <button routerLink="/mobileapp-list" class="nav-link">Mobile App</button>
    <button routerLink="/video-list" class="nav-link">Video </button>
    <button routerLink="/tvshow-list" class="nav-link">TV Show</button>
    <button routerLink="/furniture-list" class="nav-link">Furniture </button>
    <button routerLink="/accessory-list" class="nav-link">Accessory </button>
    <button routerLink="/building-list" class="nav-link">Building </button>
    <button routerLink="/painting-list" class="nav-link">Painting </button>
    <button routerLink="/artist-list" class="nav-link">Artist </button>
    <button routerLink="/composer-list" class="nav-link">Composer </button>
    <button routerLink="/podcast-list" class="nav-link">Podcast </button>
    <button routerLink="/exercise-list" class="nav-link">Exercise </button>
    <button routerLink="/mealplan-list" class="nav-link">Meal Plan</button>
    <button routerLink="/budget-list" class="nav-link">Budget </button>
    <button routerLink="/presetnation-list" class="nav-link">Presentation </button>
    <button routerLink="/event-list" class="nav-link">Event  </button>
    <button routerLink="/developertool-list" class="nav-link">Developer Tools</button>
    <button routerLink="/framework-list" class="nav-link">Framework </button>
    <button routerLink="/library-list" class="nav-link">Library </button>



  </nav>

  <router-outlet></router-outlet>